@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url("https://p.typekit.net/p.css?s=1&k=jpx8dgq&ht=tk&f=49648.49651.49654&a=121842478&app=typekit&e=css");

@font-face {
  font-family: "articulat-cf";
  src: url("https://use.typekit.net/af/912a6a/00000000000000007735fae9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/912a6a/00000000000000007735fae9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/912a6a/00000000000000007735fae9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "articulat-cf";
  src: url("https://use.typekit.net/af/f3b3e0/00000000000000007735faec/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/f3b3e0/00000000000000007735faec/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/f3b3e0/00000000000000007735faec/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "articulat-heavy-cf";
  src: url("https://use.typekit.net/af/49e098/00000000000000007735faef/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/49e098/00000000000000007735faef/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff"),
    url("https://use.typekit.net/af/49e098/00000000000000007735faef/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

.tk-articulat-cf {
  font-family: "articulat-cf", sans-serif;
}
.tk-articulat-heavy-cf {
  font-family: "articulat-heavy-cf", sans-serif;
}

:root {
  --heading-font: "articulat-heavy-cf";
  --paragraph-font: "articulat-cf", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: beige;
}

p {
  font-family: var(--paragraph-font);
}
form {
  font-family: var(--paragraph-font);
  color: beige;
}

body {
  background-color: rgb(29, 27, 27);
}
.divide-line-2 {
  height: 3px;
  background: linear-gradient(to right, #f08700, #00a6a6);
  border-width: 0px;
  margin-top: 3%;
  width: 75%;
}
.divide-line {
  margin-top: -3%;
  margin-bottom: 3%;
  width: 75%;
  height: 3px;
  background: linear-gradient(to right, #f08700, #00a6a6);
  border-width: 0px;
}
#logo {
  margin-top: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
#navbar {
  display: block;
  text-align: center;
  margin: 2%;
  font-size: x-large;
}
#navfoot {
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  justify-content: center;
  text-align: center;
}
.icon {
  width: 5%;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: 23.75% 23.75% 0% 23.75% 23.75%;
  grid-gap: 15px;
}

#splash-video {
  margin-bottom: 1.5%;
  width: 100%;
  grid-column: 2/5;
}

#sqr-1 {
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 2;
}

#sqr-2 {
  width: 100%;
  grid-row-start: 2;
  grid-column-start: 4;
}

#vertical {
  margin-top: 2.5%;
  width: 48%;
  grid-row-start: 3;
  grid-column-start: 2;
}

#landscape {
  margin-top: 2.5%;
  width: 151%;
  grid-row-start: 3;
  grid-column-start: 2;
  margin-left: 56%;
}

#nav-button {
  font-size: 600%;
  font-weight: bolder;
  margin-left: 5%;
  color: #f1f1f1;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  font-family: var(--heading-font);
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* contact page */
label {
  color: beige;
}

#title {
  display: block;
  text-align: center;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 800px;
  /* Form outline */
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: block;
  width: 800px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 15px;
  font-family: var(--heading-font);
  font-size: x-large;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 3em sans-serif;

  /* Uniform text field size */
  width: 100%;
  box-sizing: border-box;

  /* Match form field borders */
  border-radius: 15px;

  background-color: rgb(26, 24, 24);
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
  border-color: #000;
}

.button {
  /* Align buttons with the text fields */
  background-color: #fffbf8; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 35%;
  color: #000;
  border-radius: 10px;
  margin-top: 50px;
}

button {
  background-color: #fffbf8; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  color: #000;
  font-family: var(--heading-font);
}
